<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="core">
			<directory prefix="test-core-" suffix=".php">./tests/</directory>
		</testsuite>
		<testsuite name="helpers">
			<directory prefix="test-helpers-" suffix=".php">./tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
